<html>
<body>
Group : {{ group }}<br>
Command : {{ command }}<br>
Queue : #{{ queue }}<br>
Return value : <font color="red">{{ returnValue }}</font>
<table border="1px" width="100%">
    <thead>
    <th>Std out</th>
    <th>Std err</th>
    </thead>
    <tr>
        <td><pre>{{ stdOut }}</pre></td>
        <td><font color="red"><pre>{{ stdErr }}</pre></font></td>
    </tr>
</table>
</body>
</html>