{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row margin-top-50">
            {% if app.session is not null and app.session.started %}
                {% set errors = app.flashes("error") %}
                {% if errors|length > 0 %}
                    <div class="offset-3 col-6 bg-warning errors">
                        {% for message in errors %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
                {% set notices = app.flashes("notice") %}
                {% if notices|length > 0 %}
                    <div class="offset-3 col-6 bg-info errors">
                        {% for message in notices %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <form class="offset-3 col-6 small-form" method="post">
                <h4>Please fill you new password</h4>
                {{ form_row(form._token) }}
                <div class="form-group">
                    {{ form_widget(form.password) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.passwordConfirm) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.reset, { label: "Reset" }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}